/*Estilização da Pagina Principal*/
body{
   background-color: teal;
}
header{
    position: fixed;
    top:-20px;
    background-color:black;
    width: 100vw;
    height: 100px;
    box-shadow: 8px 8px 5px black;
    left: -8px;
}
nav{
    position: absolute;
    left: 1200px;
    top: 20px;
}
a{
    display: inline;
   font-size: 17pt;
   text-decoration: none;
   color: blueviolet; 
   text-shadow: 1px 1px 1px yellowgreen;
}
a:hover{
    color: yellowgreen;
    text-shadow: 1px 1px 1px blueviolet;
    
}
button{
    height: 35px;
    color: orangered;
    font-size: 15pt;
    border: 2px solid blue;
    border-radius: 30px;
    background-color:black;
    text-shadow: 1px 1px 1px teal;
    font-family: Arial, Helvetica, sans-serif;
font-weight: bold;

}
button:hover{
    background-color: whitesmoke;
    color: springgreen;
}
    input{
        height: 30px;
        width: 200px;
        border: 2px solid springgreen;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    label{
      font-family: monospace;
        color: red;
        font-size: 18pt;
       text-shadow: 1px 1px 1px springgreen;
    }
    form{
        position: absolute;
        left: 150px;
        top: 50px;
    }
    h1{
        font-size: 70pt;
        text-align: center;
        color: red;
        text-shadow: 3px 3px 1px yellowgreen;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    p{
        font-size: 40pt;
        color: yellowgreen;
        text-shadow: 3px 3px 1px blueviolet;
    }
   
    
    
    main{
        background-color:black;
        height:1600px;
        
    }
    main p{
        text-shadow: 3px 3px 1px blue;
    }
    img{
       border:2px solid black;
        width: 100%;
    }
    video{
         border:2px solid black;
        width: 100%;
    }
    /*adaptação para dispositivos abaixo de 900px*/
    @media(max-width:900px){
        body{
            width: 100%;
        }
        header{
            width: 100%;
        }
        form{
           
            left: 5%;
            
        }
        label{
            display: none;
        }
        h1{
            font-size: 500%;
        }
        p{
            font-size: 100%;
        }
        main{
            padding: 10px;
            height: 130vh;
            width: 100%;
            left: 0;
        }
        img{
            
            width: 100%;
        }
        nav{
            left: 7%;
        }
            }
            
